body {
    line-height: 1.6;
    font-size: 16px;
    color: #221fd4;
  }


.navi-top {
    background: #3437A9;
    font-size: 14px;
    padding: 8px 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
  }

  .navi-top-details li a {
    color: #fff;
    margin-right: 20px;
  }

  .navi-cont {
    max-width: 1140px;
}

.nav-right-col a span {
    color: #fff;
    font-size: 15px;
    font-weight: 60;
    letter-spacing: 1px;
}

.footer-copyright.footer-section {
  margin-bottom: 0;
  text-align: center;
}
footer.footer-wrap > * {
  position: relative;
  z-index: 99;
}


.rbc-container {
  position: static;
  display: block;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.is-light-text .copyright-inner {
  border-color: rgba(255, 255, 255, .1);
}


.footer-bottom {
 text-align: center;
 border-top: 1px solid rgba(255, 255, 255, 0.178);
 border-width: 80%;



}


.fixed-bottom {

    background-color: #101022;
    color: #fff;
  }




/*
 border-top: 1px solid rgba(255, 255, 255, .1);

*/
.navbar {
    background-color: #fff;
    font-weight: 600;
    color: rgba(240, 23, 23, 0.979) !important;
    font-family: "Oxygen", sans-serif;
    font-size: 17px;

  }


.navbar-nav {
  margin-left: 350px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.82);
}

  .navbar-nav > .active > a {
    color: #7b45b1 !important;
  }

  .nav-item > a:hover {
    color: #7b45b1 !important;
  }

